@font-face {
  font-family: 'icomoon';
  src: url("https://cdn.twohearts.id/v1.0/fonts/icomoon/icomoon.eot?srf3rx");
  src: url("https://cdn.twohearts.id/v1.0/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("https://cdn.twohearts.id/v1.0/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("https://cdn.twohearts.id/v1.0/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("https://cdn.twohearts.id/v1.0/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abeezee';
  src: url(https://cdn.twohearts.id/v1.0/fonts/ABeeZee-Regular.ttf);
}

@font-face {
  font-family: 'Clicker Script';
  src: url(https://cdn.twohearts.id/v1.0/fonts/ClickerScript-Regular.ttf);
}

:root {
  --main-color            : #EEEEEE;
  --secondary-color       : #1F1F1F;
  --blur-color            : #2a2a2a;
  --main-font-color       : #EEEEEE;
  --secondary-font-color  : #FFF;
  --backgroundcolor       : #222222;
}

body {
  font-family: Abeezee, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--secondary-font-color);
  background: var(--backgroundcolor) !important;
  height: 100%;
  position: relative;
}

#thd-countdown .countdown {
  line-height: 1.8 !important;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--main-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: var(--main-color);
  outline: none;
}

p {
  font-family: Abeezee, 'Dancing Script', serif;
  margin-bottom: 1.5em;
  line-height: 1.4;
}

small {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Clicker Script", cursive;
  font-weight: 400;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}
.section-heading.svg-sm-2 .svg {
  height: 150px;
  margin-bottom: 0;
  padding: 0;
}
.section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -80px;
  padding: 0;
}
.section-heading.colored .svg {
  fill: var(--main-color);
}
.section-heading h2 {
  font-size: 80px;
  color: var(--main-color);
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 50px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#thd-couple,
#thd-countdown,
#thd-section,
#thd-gift,
#thd-filter,
#thd-ucapan {
  padding: 7em 0;
}

#thd-ucapan {
  padding-bottom: 0px;
}

#thd-gallery {
  padding-bottom: 7em;
}

.gallery-title {
  margin-top: 50px; color: white;
}

.button-more-wrapper {
  display: flex; justify-content: center;
}

#thd-gallery-header {
  padding: 0.6em 0;
}

@media screen and (max-width: 480px) {
  #thd-gallery-header {
    padding: 0.3em 0;
  }
}

.thd-cover,
.thd-hero {
  position: relative;
  float: none;
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .thd-cover,
  .thd-hero {
    height: 700px;
  }
}

.thd-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.thd-cover,
.video-hero {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .thd-cover,
  .video-hero {
    height: inherit;
    padding: 3em 0;
  }
}
.thd-cover .display-t,
.video-hero .display-t {
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .thd-cover .display-t,
  .video-hero .display-t {
    height: 600px;
  }
}
.thd-cover .display-tc,
.video-hero .display-tc {
  display: table-cell;
  vertical-align: middle;
}
.thd-cover .display-tc .holder,
.video-hero .display-tc .holder {
  color: var(--main-font-color);
  font-family: Abeezee, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.thd-cover .display-tc .holder span,
.video-hero .display-tc .holder span {
  position: relative;
}
.thd-cover .display-tc .holder span:before,
.video-hero .display-tc .holder span:before {
  left: -110px;
}
.thd-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:after {
  right: -110px;
}
@media screen and (max-width: 768px) {
  .thd-cover .display-tc .holder,
  .video-hero .display-tc .holder {
    letter-spacing: 2px;
  }
  .thd-cover .display-tc .holder span,
  .video-hero .display-tc .holder span {
    position: relative;
  }
  .thd-cover .display-tc .holder span:before,
  .video-hero .display-tc .holder span:before {
    left: -40px;
  }
  .thd-cover .display-tc .holder span:after,
  .video-hero .display-tc .holder span:after {
    right: -40px;
  }
}
.thd-cover .display-tc h2,
.video-hero .display-tc h2 {
  color: var(--main-font-color);
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 300 !important;
}
.thd-cover .display-tc h2 strong,
.video-hero .display-tc h2 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .thd-cover .display-tc h2,
  .video-hero .display-tc h2 {
    font-size: 48px;
  }
}
.thd-cover .display-tc p,
.video-hero .display-tc p {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  text-align: center;
}
.thd-cover .display-tc .svg-sm .svg,
.video-hero .display-tc .svg-sm .svg {
  height: 180px;
  margin-bottom: 0;
}
.thd-cover .display-tc .colored .svg,
.video-hero .display-tc .colored .svg {
  fill: var(--main-color);
}

.tc-wrapper {
  margin-top: -15vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120%;
}

#thd-couple img {
  margin-bottom: 20px;
}
#thd-couple h3 {
  font-size: 34px;
  font-family: "Clicker Script", cursive;
  color: var(--main-color);
}
@media screen and (max-width: 768px) {
  #thd-couple h3 {
    font-size: 35px;
  }
}
#thd-couple span {
  color: var(--main-color);
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid rgba(255, 132, 124, 0.3);
  padding: 2px 5px;
}
#thd-couple .amp-center {
  font-size: 60px;
  margin-top: 100%;
  color: #ff847c;
}
@media screen and (max-width: 768px) {
  #thd-couple .amp-center {
    font-size: 40px;
  }
}
#thd-couple .amp-center .colored .svg {
  fill: var(--main-color);
}

#thd-countdown {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
}
#thd-countdown .section-heading {
  margin-bottom: 0 !important;
}
#thd-countdown .section-heading h2 {
  font-size: 80px;
  color: var(--main-font-color);
}
@media screen and (max-width: 768px) {
  #thd-countdown .section-heading h2 {
    font-size: 50px;
  }
}
#thd-countdown .section-heading .datewed {
  font-size: 18px;
  color: white;
}
#thd-countdown .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}
#thd-countdown .section-heading.colored .svg {
  fill: var(--main-color);
}
#thd-countdown .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}
#thd-countdown .countdown {
  margin-bottom: 0;
  font-size: 52px;
  color: var(--main-font-color);
}
#thd-countdown .countdown span {
  margin: 0 30px;
  display: inline-block;
  font-family: "Clicker Script", cursive;
}
#thd-countdown .countdown small {
  display: block;
  font-size: 12px;
  font-family: Abeezee, Arial, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#thd-countdown .display-over {
  z-index: 2;
}

.svg-header {
  height: 140px !important;
  padding-bottom: 15px !important;
}

p .countdown {
  line-height: 1.7 !important;
}

.couple {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin-top: 110px;
}
.couple.groom {
  position: relative;
  z-index: 0;
}
.couple.groom:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background: #f4f3e2;
  z-index: -1;
}
.couple.bride {
  position: relative;
  z-index: 0;
}
.couple.bride:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background: #fef6f8;
  z-index: -1;
}
.couple img {
  width: 300px;
  margin: -190px auto 40px;
  border: 10px solid var(--main-color);
}
.couple .desc {
  z-index: 1;
}
.couple .desc h2 {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 30px;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.groom-men img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .groom-men img {
    width: 300px;
    margin: 0 auto;
  }
}
.groom-men h3 {
  font-family: "Clicker Script", cursive;
  font-size: 28px;
}

.gallery-mobile-left {
  padding-right: 2px !important;
  padding-left: 3px !important;
}
.gallery-mobile-right {
  padding-left: 2px !important;
  padding-right: 3px !important;
}

.gallery {
  border-radius: 15px !important;
  margin-bottom: 30px;
}
.gallery .gallery-img {
  border-radius: 5px !important;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
}
.gallery .gallery-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.gallery .gallery-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery-video {
  border-radius: 5px !important;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gallery-video {
    height: 210px !important;
  }
}

#thd-ucapan .thd-ucapan-item {
  background: var(--backgroundcolor);
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  #thd-ucapan .thd-ucapan-item {
    display: block !important;
  }
}
#thd-ucapan .thd-ucapan-item .thd-ucapan-text,
#thd-ucapan .thd-ucapan-item .thd-ucapan-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #thd-ucapan .thd-ucapan-item .thd-ucapan-text,
  #thd-ucapan .thd-ucapan-item .thd-ucapan-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
#thd-ucapan .thd-ucapan-item .thd-ucapan-text {
  float: left;
  padding: 20px;
}
#thd-ucapan .thd-ucapan-item .thd-ucapan-text .thd-ucapan-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  position: relative;
}
#thd-ucapan .thd-ucapan-item .thd-ucapan-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #thd-ucapan .thd-ucapan-item .thd-ucapan-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.person img {
  display: block;
  margin: 0 auto;
  height: 150px;
}
.person .name {
  font-size: 24px;
}
.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#footer {
  padding: 20px 20px 0px 20px;
  color: var(--secondary-font-color);
  background-color: #f7f7f7;
}

#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 0;
  line-height: 1.7 !important;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: var(--main-color);
  color: var(--main-font-color);
  border: none !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: var(--main-color);
}
.btn:hover, .btn:active, .btn:focus {
  background: var(--main-color) !important; 
  color: var(--backgroundcolor);
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.btn-cover {
  background-color: var(--backgroundcolor) !important;
}

.btn-cover:hover {
  background-color: var(--backgroundcolor) !important;
  color: var(--backgroundcolor) !important;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: var(--main-color);
  color: var(--backgroundcolor);
}
.social li a.social-circle {
  background: var(--main-color);
  color: var(--backgroundcolor);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: var(--main-color) !important;
}
.social.social-box a {
  background: var(--main-color);
  color: var(--backgroundcolor);
}
.social.social-circle a {
  background: var(--main-color);
  color: var(--backgroundcolor);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--blur-color);
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--main-color);
}

.js .animate-box {
  opacity: 0;
}

/* Go to top */
.js-gotop {
  font-size: 30px !important;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 40px;
  height: 40px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: var(--main-font-color);
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 12px;
}
.gototop a i {
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

/* Music */

.music-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 1;
}

.music-button a {
  text-decoration: none !important;
  width: 40px;
  height: 40px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: var(--main-font-color);
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 12px;
}

.music-button a i {
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}

.icon-music {
  font-size: 14px !important;
  text-align: center !important;
  padding-top: 13px !important;
}

.icon-pause {
  font-size: 14px !important;
  text-align: center !important;
  padding-top: 13px !important;
}

/* Greetings */

.greetings-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.greetings-button.active {
  opacity: 1;
  visibility: visible;
}

.greetings-button a {
  text-decoration: none !important;
  width: 40px;
  height: 40px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: var(--main-font-color);
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 12px;
}

.greetings-button a i {
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}

.greetings-button a:hover, .greetings-button a:active, .greetings-button a:focus {
  text-decoration: none;
  outline: none;
}

.fixed-top-sm {
  margin-top: -30px !important;
}

.fixed-top {
  margin-top: -70px !important;
}
.fixed-top-md {
  margin-top: -90px !important;
}

.fixed-top-lg {
  margin-top: -120px !important;
}

.bride-name {
  color: var(--main-color) !important;
  font-size: 20px !important;
  font-weight: 550 !important;
  font-family: Abeezee !important;
  font-style: italic !important;
}

@media screen and (min-width:320px)  {
  .bride-detail {
    padding: 0px 14px 0px 14px !important;
  }
}
@media screen and (min-width:641px)  { 
  .bride-detail {
    padding: 0px 14px 0px 14px !important;
  }
}
@media screen and (min-width:1281px) {
  .bride-detail {
    padding: 0px 0px 0px 0px !important;
  }
}

.bride-photo {
  border:5px solid rgba(252, 189, 18, 0.3);
}

.profile-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto !important;
}

.datewed-wrapper {
  line-height: 1.2;
}

.datewed {
  font-family: Abeezee, 'Dancing Script', serif;
  color: white;
  width: 100%;
  font-weight: 450;
}

.datewed-time {
  font-size: 12px !important;
}

.address-font {
  color: var(--secondary-font-color);
  margin-top: -20px;
  margin-bottom: -50px;
}

.quote-text {
  color: white !important; 
}

.quote-author {
  margin-top: -100px !important;
  font-size: 10px;
  color: white;
}

.image-popup {
  border-radius: 2px;
  margin: 2px 0 !important;
}

/* Spinner */
.loader {
  display: table !important;
  margin: 0 auto !important;
  margin-top: 5px !important;
  padding: 5px;
  border: 3px solid #686868;
  border-top: 3px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* MAIN COVER  */
.receiver {
  line-height: 1.5 !important;
  text-indent: 5px !important;
}

.receiver-label {
  margin-top: -30px !important;
}

.thd-cover .receiver-label {
  letter-spacing: 5px !important;
  font-size: 10px !important;
}

.thd-cover .receiver {
  text-align: center;
  letter-spacing: 5px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: solid 2px var(--main-color);
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

.middle-text {
  color: var(--main-color); 
  line-height: 1.2;
  border-collapse: separate;
  border-spacing: 0;
}

.middle-table-date-wrap {
  vertical-align: middle;
}

.middle-table-date {
  vertical-align: middle !important;
  line-height: 1.1 !important;
  padding: 18px !important;
  border-radius: 10px 0px 0px 10px;
  border: solid 2px #ddd !important;
  background-color: var(--blur-color);
}

.middle-table-date-number {
  font-size: 60px !important; 
  font-weight: 700 !important; 
  border: 0px !important; 
  letter-spacing: 0px !important;
}

.middle-table-text {
  vertical-align: middle !important;
}

.middle-table-time {
  border-radius: 0px 10px 0px 0px !important;
  border-top: solid 2px #ddd !important;
  border-right: solid 2px #ddd !important;
}

.middle-table-address {
  border-radius: 0px 0px 10px 0px !important;
  border-bottom: solid 2px #ddd !important;
  border-right: solid 2px #ddd !important;
}

.mantram-text {
  color: var(--main-color);
}

.image-launch, .thd-cover, 
#thd-countdown, #thd-gallery-header {
  background-position-x: center !important;
}

#thd-gallery-header {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

@media (min-width:320px)  { 
  .thd-cover {
    background-image: url(../images/bg-cover-mobile.jpg);
  }
}

@media (min-width:641px)  { 
  .thd-cover {
    background-image: url(../images/bg-cover-mobile.jpg);
  }
}

@media (min-width:1281px) {
  .thd-cover {
    background-image: url(../images/bg-cover.jpg);
  }
}

/* COUNTDOWN COVER  */
@media (min-width:320px)  { 
  #thd-countdown {
    background-image: url(../images/bg-cover-countdown-mobile.jpg);
  }
}

@media (min-width:641px)  { 
  #thd-countdown {
    background-image: url(../images/bg-cover-countdown-mobile.jpg);
  }
}

@media (min-width:1281px) {
  #thd-countdown {
    background-image: url(../images/bg-cover-countdown.jpg);
  }
}

/* GALLERY COVER  */
#thd-gallery-header {
  position: relative;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
  height: 550px;
}

#thd-gallery-header .overlay {  
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
  height: 550px;
}

#thd-gallery-header .display-over {
  z-index: 2;
  height: 550px;
}

.no-youtube-gallery {
  margin-top: 12px !important;
}

@media screen and (min-width:320px)  { 
  #thd-gallery-header {
    background-image: url(../images/bg-cover-gallery-mobile.jpg);
  }
}

@media screen and (min-width:641px)  { 
  #thd-gallery-header {
    background-image: url(../images/bg-cover-gallery-mobile.jpg);
  }
}

@media screen and (min-width:1281px) {
  #thd-gallery-header {
    background-image: url(../images/bg-cover-gallery.jpg);
  }
}

.cover-conten-wrapper {
  height: 90vh !important;
  align-content: center !important;
}

.svg-cover {
  height: 130px !important;
}

.name-cover {
  font-size: 36px !important;
}

.date-cover {
  font-size: 10px !important;
}


/* COVER PLAIN */
#thd-couple, #thd-section, #thd-filter {  
  background-size: 100vw, 100vw;
  background-position: top, left bottom;
  background-repeat: no-repeat, no-repeat;
}

#thd-gallery {  
  background-size: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
}

#thd-ucapan {  
  background-size: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media screen and (min-width:320px)  {
  #thd-couple, #thd-section {   
    background-image: url('../images/background/flower background-1 top.svg');
    background-attachment: unset;
  }
  #thd-gallery {
    background-image: url('../images/background/flower background-2.svg');
  }
  #thd-ucapan {
    background-image: url('../images/background/flower background-3.svg');
  }
}
@media screen and (min-width:641px)  { 
  #thd-couple, #thd-section {
    background-image: url('../images/background/flower background-1 top.svg');
    background-attachment: unset;
  }
  #thd-gallery {
    background-image: url('../images/background/flower background-2.svg');
  }
  #thd-ucapan {
    background-image: url('../images/background/flower background-3.svg');
  }
}
@media screen and (min-width:1281px) {
  #thd-couple, #thd-section {
    background-image: url('../images/background/desktop/flower background-1 top.svg');
    background-attachment: unset;
  }
  #thd-gallery {
    background-image: url('../images/background/desktop/flower background-2.svg');
  }
  #thd-ucapan {
    background-image: url('../images/background/desktop/flower background-3.svg');
  }
}

#thd-gallery {
  background-size: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
}

#thd-ucapan {  
  background-size: 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
}

.thd-ucapan {
  padding-bottom: -50px !important; 
}

.location-title {
  margin-top: 50px;
}

.maps-styling {
  margin-top: -30px !important;
  border:0; border-radius: 10px !important;
  filter: invert(92%);
}

.font-header {
  margin-top: 30px !important;
  font-size: 40px !important;
}

.svg-header-gallery {
  height: 140px !important;
  margin-top: 60px !important;
}

.font-header-gallery {
  margin-top: 50px !important;
  font-size: 40px !important;
  color: white !important;
}

.balinese-aksara {
  max-width: 60vw;
  height: auto;
  margin-top: -40px !important;
}

.youtube-wrap {
  margin-top: 3px !important;
  margin-bottom: -3px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

@media (min-width:720px) {
  .youtube-wrap {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}

.santih-wrapper {
  margin-bottom: -40px !important;
}

.balinese-aksara-santih {
  max-width: 80vw;
  height: auto;
}

.metatah-section {
  margin-bottom: 40px !important;
}

.santih-text {
  font-size: 40px !important;
  margin : 0 auto;
}

@media screen and (min-width:768px) {
  .santih-text {
    max-width: 40vw;
    font-size: 40px !important;
  }
  .balinese-aksara {
    max-width: 20vw;
  }
}

@media screen and (min-width:1281px) {
  .santih-text {
    max-width: 40vw;
    font-size: 40px !important;
  }
  .balinese-aksara {
    max-width: 20vw;
  }
}

.text-blink {
  animation: blinker 2.6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.w-100 {
  display: none !important;
}

.card-header {
  font-family: Abeezee, 'Dancing Script', serif;
  font-size: 15px !important;
}

.message-card {
  border: var(--main-color) 1px solid;
  border-radius: 10px;
  padding: 20px 20px 0px 30px;
  background-color: var(--blur-color);
  margin-bottom: 20px;
}

#modal-preview-submit .message-card {
  margin-bottom: 0px;
}

.pandemic-header-text {
  font-size: 20px !important;
  font-family: Abeezee, sans-serif;
  color: var(--main-color);
}

.pandemic-image {
  width: 80px;
  height: 80px;
  margin: 20px;
}

.pademic-text {
  font-family: Abeezee, 'Dancing Script', serif;
  padding: 15px !important;
}

.quote-tag {
  font-size: 50px !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: 0 auto !important;
}

.quote-tag-upper {
  line-height: 0px !important;
}

/* ARROW STYLE */
.arrow {
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background-image: url('../images/flaticon/svg/arrow.svg');
  background-size: contain;
}

.arrow {
  margin-top: 20px;
  animation: MoveUpDown 1.7s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(-15%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-15%);
  }
}

.btn.btn-primary {
  font-size: 14px;
}

.btn-sm {
  font-size: 10px !important;
}

.modal-title {
  font-family: Abeezee, Arial, sans-serif !important;
  font-size: 20px !important;
  padding-left: 2px !important;
  color: #555555 !important;
}

.music-text {
  font-size: 10px !important;
}

.footer-icon-wrapper {
  margin-top: 10px; margin-bottom: 5px;
}

.footer-icon {
  width: 30px !important; height: 30px !important;
}

/* Modal Launch  */
.image-launch {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0px 0px;
}

.modal-body-launch {
  padding: 0;
  margin: 0 auto !important;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.modal-content-launch {
  background-color: black !important;
  border-radius: 17px !important;
}

.modal-footer-launch {
  margin-top: -2px !important;
  background-color: white !important;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

@media screen and (min-width:320px)  {
  .image-launch {
    content: url('../images/bg-cover-mobile.jpg') !important;
  }
  .modal-body-launch {
    height: 70vh;
  }
}
@media screen and (min-width:641px)  { 
  .image-launch {
    content: url('../images/bg-cover-mobile.jpg') !important;
  }
  .modal-body-launch {
    height: 70vh;
  }
}
@media screen and (min-width:1281px) {
  .image-launch {
    content: url('../images/bg-cover.jpg') !important;
  }
  .modal-body-launch {
    height: 80vh;
  }
}

.btn-show-more-wrapper {
  display: flex; justify-content: center;
}

#btn-lihat-undangan {
  font-size: 1rem !important;
  letter-spacing: 3px !important;
}

.modal-text small {
  font-size: 12px !important;
  letter-spacing: 5px;
}

.modal-text h2 {
  font-size: 40px !important; 
  margin-top: -2px !important
}

hr {
  width: 50%;
}

.datewed-wrapper hr {
  width: 25%;
}

.modal-text hr {
  width: 20%;
}

/* COUPLE CSS THD 2 */
.init-loader {
  display: none;
}

.thd-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('https://cdn.twohearts.id/v1.0/images/loader-silver.svg') center no-repeat white;
}

.couple-wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .couple-wrap {
    width: 100%;
  }
}

.heading-fix {
  padding-bottom: 0px !important;
  margin-bottom: 25px !important;
}

.heading-fix-gallery {
  margin-top: 3px !important;
}

.heart {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  z-index: 99;
}
.heart i {
  font-size: 20px;
  background: var(--backgroundcolor);
  padding: 20px;
  color: var(--main-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .heart {
    display: none;
  }
}

.couple-half {
  width: 50%;
  float: left;
}

@media screen and (max-width: 768px) {
  .couple-half {
    width: 100%;
    margin-bottom: 50px !important;
  }
}
.couple-half h3 {
  font-family: "Sacramento", Arial, serif;
  color: var(--main-color);
  font-size: 30px;
}
.couple-half .groom, .couple-half .bride {
  float: left;
  width: 150px;
  height: 150px;
}
.couple-half .groom img, .couple-half .bride img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 480px) {
  .couple-half .groom, .couple-half .bride {
    width: 100%;
    height: 150px;
    margin-bottom: 20px !important;
  }
  .couple-half .groom img, .couple-half .bride img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}
.couple-half .groom {
  float: right;
  margin-right: 5px;
}
.couple-half .bride {
  float: left;
  margin-left: 5px;
}
.couple-half .desc-groom {
  padding-right: 180px;
  text-align: right;
}
.couple-half .desc-bride {
  padding-left: 180px;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .couple-half .groom, .couple-half .bride {
    margin-left: 0;
    margin-right: 0;
  }
  .couple-half .desc-groom {
    padding-right: 0;
    text-align: center;
  }
  .couple-half .desc-bride {
    padding-left: 0;
    text-align: center;
  }
}

.control-label {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px !important;
}

/* WINDOW HEIGHT OPTIMIZATION */
.thd-cover, .thd-hero {
  height: 102vh !important;
}


/* COUNTER SECTION */
#counting-number {
  margin-top: -6px !important;
  color: var(--main-color);
  font-weight: bolder;  
  font-size: 58px !important;
}

.counter-option {
  color : var(--backgroundcolor) !important;
}

.counter-body {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--blur-color);
}

.counter-content {
  margin: 0 auto;
  padding: 0;
}

.label-hadir {
  color: var(--main-color);
  border: var(--main-color) 1px solid;
  border-radius: 5px;
  line-height: 3;
  padding: 4px 10px 4px 10px;
  font-size: 12px !important;
  vertical-align: middle !important;
}

.pulsing {
  background-color: #222;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  50% {
    background-color: grey;
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

.partner-icon {
  max-width: 75px;
}

.partner-text {
  font-size: 18px !important;
}

.icon-tiktok {
  content: url('../images/flaticon/svg/tiktok-logo.svg');
  width: 16px !important;
  margin: 0 auto;
  padding-top: 10px !important;
}

.image-qr {
  margin: 0 auto;
  max-width: 200px;
  max-height: 40px;
}

.btn-submit {
  font-size: 12px !important;
}

.message-reply-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-reply {
  margin-top: 0px !important;
  margin-bottom: 15px !important;
}

.timeline {
  margin-top: -30px !important;
  list-style: none;
  padding: 1px 0px 1px 0px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #545454;
  left: 5%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 10px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
  border: 1px solid #676767;
  border-radius: 10px;
  padding: 5px 10px 10px 20px;
  position: relative;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #676767;
  border-right: 0 solid #676767;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid var(--backgroundcolor);
  border-right: 0 solid var(--backgroundcolor);
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

ul.timeline:before {
  left: 2px;
}

ul.timeline > li > .timeline-panel {
  width: calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
}

ul.timeline > li > .timeline-badge {
  left: 15px;
  margin-left: 0;
  top: 16px;
}

ul.timeline > li > .timeline-panel {
  float: right;
}

ul.timeline > li > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

ul.timeline > li > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-panel {
  background-color: var(--backgroundcolor) !important;
}

.tooltip-inner {
  max-width: 170px;
  width: 170px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
}

.tooltip.right .tooltip-arrow {
  top: auto;
  left: 63px;
  bottom: 35px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: rgba(0, 0, 0, 0.5) !important;
  position: fixed;
}

/* Curve Shape */
.thd-hero {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 99.00%, 2.00% 99.06%, 4.00% 99.13%, 6.00% 99.19%, 8.00% 99.25%, 10.00% 99.31%, 12.00% 99.37%, 14.00% 99.43%, 16.00% 99.48%, 18.00% 99.54%, 20.00% 99.59%, 22.00% 99.64%, 24.00% 99.68%, 26.00% 99.73%, 28.00% 99.77%, 30.00% 99.81%, 32.00% 99.84%, 34.00% 99.88%, 36.00% 99.90%, 38.00% 99.93%, 40.00% 99.95%, 42.00% 99.97%, 44.00% 99.98%, 46.00% 99.99%, 48.00% 100.00%, 50.00% 100.00%, 52.00% 100.00%, 54.00% 99.99%, 56.00% 99.98%, 58.00% 99.97%, 60.00% 99.95%, 62.00% 99.93%, 64.00% 99.90%, 66.00% 99.88%, 68.00% 99.84%, 70.00% 99.81%, 72.00% 99.77%, 74.00% 99.73%, 76.00% 99.68%, 78.00% 99.64%, 80.00% 99.59%, 82.00% 99.54%, 84.00% 99.48%, 86.00% 99.43%, 88.00% 99.37%, 90.00% 99.31%, 92.00% 99.25%, 94.00% 99.19%, 96.00% 99.13%, 98.00% 99.06%, 100.00% 99.00%);
}
.thd-hero .thd-overlay {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 99.00%, 2.00% 99.06%, 4.00% 99.13%, 6.00% 99.19%, 8.00% 99.25%, 10.00% 99.31%, 12.00% 99.37%, 14.00% 99.43%, 16.00% 99.48%, 18.00% 99.54%, 20.00% 99.59%, 22.00% 99.64%, 24.00% 99.68%, 26.00% 99.73%, 28.00% 99.77%, 30.00% 99.81%, 32.00% 99.84%, 34.00% 99.88%, 36.00% 99.90%, 38.00% 99.93%, 40.00% 99.95%, 42.00% 99.97%, 44.00% 99.98%, 46.00% 99.99%, 48.00% 100.00%, 50.00% 100.00%, 52.00% 100.00%, 54.00% 99.99%, 56.00% 99.98%, 58.00% 99.97%, 60.00% 99.95%, 62.00% 99.93%, 64.00% 99.90%, 66.00% 99.88%, 68.00% 99.84%, 70.00% 99.81%, 72.00% 99.77%, 74.00% 99.73%, 76.00% 99.68%, 78.00% 99.64%, 80.00% 99.59%, 82.00% 99.54%, 84.00% 99.48%, 86.00% 99.43%, 88.00% 99.37%, 90.00% 99.31%, 92.00% 99.25%, 94.00% 99.19%, 96.00% 99.13%, 98.00% 99.06%, 100.00% 99.00%);
}

#thd-countdown {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 99.00%, 2.00% 99.06%, 4.00% 99.13%, 6.00% 99.19%, 8.00% 99.25%, 10.00% 99.31%, 12.00% 99.37%, 14.00% 99.43%, 16.00% 99.48%, 18.00% 99.54%, 20.00% 99.59%, 22.00% 99.64%, 24.00% 99.68%, 26.00% 99.73%, 28.00% 99.77%, 30.00% 99.81%, 32.00% 99.84%, 34.00% 99.88%, 36.00% 99.90%, 38.00% 99.93%, 40.00% 99.95%, 42.00% 99.97%, 44.00% 99.98%, 46.00% 99.99%, 48.00% 100.00%, 50.00% 100.00%, 52.00% 100.00%, 54.00% 99.99%, 56.00% 99.98%, 58.00% 99.97%, 60.00% 99.95%, 62.00% 99.93%, 64.00% 99.90%, 66.00% 99.88%, 68.00% 99.84%, 70.00% 99.81%, 72.00% 99.77%, 74.00% 99.73%, 76.00% 99.68%, 78.00% 99.64%, 80.00% 99.59%, 82.00% 99.54%, 84.00% 99.48%, 86.00% 99.43%, 88.00% 99.37%, 90.00% 99.31%, 92.00% 99.25%, 94.00% 99.19%, 96.00% 99.13%, 98.00% 99.06%, 100.00% 99.00%);
}
#thd-countdown .overlay {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 99.00%, 2.00% 99.06%, 4.00% 99.13%, 6.00% 99.19%, 8.00% 99.25%, 10.00% 99.31%, 12.00% 99.37%, 14.00% 99.43%, 16.00% 99.48%, 18.00% 99.54%, 20.00% 99.59%, 22.00% 99.64%, 24.00% 99.68%, 26.00% 99.73%, 28.00% 99.77%, 30.00% 99.81%, 32.00% 99.84%, 34.00% 99.88%, 36.00% 99.90%, 38.00% 99.93%, 40.00% 99.95%, 42.00% 99.97%, 44.00% 99.98%, 46.00% 99.99%, 48.00% 100.00%, 50.00% 100.00%, 52.00% 100.00%, 54.00% 99.99%, 56.00% 99.98%, 58.00% 99.97%, 60.00% 99.95%, 62.00% 99.93%, 64.00% 99.90%, 66.00% 99.88%, 68.00% 99.84%, 70.00% 99.81%, 72.00% 99.77%, 74.00% 99.73%, 76.00% 99.68%, 78.00% 99.64%, 80.00% 99.59%, 82.00% 99.54%, 84.00% 99.48%, 86.00% 99.43%, 88.00% 99.37%, 90.00% 99.31%, 92.00% 99.25%, 94.00% 99.19%, 96.00% 99.13%, 98.00% 99.06%, 100.00% 99.00%);
}

#thd-gallery-header {
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 1.00%, 2.00% 0.94%, 4.00% 0.87%, 6.00% 0.81%, 8.00% 0.75%, 10.00% 0.69%, 12.00% 0.63%, 14.00% 0.57%, 16.00% 0.52%, 18.00% 0.46%, 20.00% 0.41%, 22.00% 0.36%, 24.00% 0.32%, 26.00% 0.27%, 28.00% 0.23%, 30.00% 0.19%, 32.00% 0.16%, 34.00% 0.12%, 36.00% 0.10%, 38.00% 0.07%, 40.00% 0.05%, 42.00% 0.03%, 44.00% 0.02%, 46.00% 0.01%, 48.00% 0.00%, 50.00% 0.00%, 52.00% 0.00%, 54.00% 0.01%, 56.00% 0.02%, 58.00% 0.03%, 60.00% 0.05%, 62.00% 0.07%, 64.00% 0.10%, 66.00% 0.12%, 68.00% 0.16%, 70.00% 0.19%, 72.00% 0.23%, 74.00% 0.27%, 76.00% 0.32%, 78.00% 0.36%, 80.00% 0.41%, 82.00% 0.46%, 84.00% 0.52%, 86.00% 0.57%, 88.00% 0.63%, 90.00% 0.69%, 92.00% 0.75%, 94.00% 0.81%, 96.00% 0.87%, 98.00% 0.94%, 100.00% 1.00%);
}
#thd-gallery-header .overlay {
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 1.00%, 2.00% 0.94%, 4.00% 0.87%, 6.00% 0.81%, 8.00% 0.75%, 10.00% 0.69%, 12.00% 0.63%, 14.00% 0.57%, 16.00% 0.52%, 18.00% 0.46%, 20.00% 0.41%, 22.00% 0.36%, 24.00% 0.32%, 26.00% 0.27%, 28.00% 0.23%, 30.00% 0.19%, 32.00% 0.16%, 34.00% 0.12%, 36.00% 0.10%, 38.00% 0.07%, 40.00% 0.05%, 42.00% 0.03%, 44.00% 0.02%, 46.00% 0.01%, 48.00% 0.00%, 50.00% 0.00%, 52.00% 0.00%, 54.00% 0.01%, 56.00% 0.02%, 58.00% 0.03%, 60.00% 0.05%, 62.00% 0.07%, 64.00% 0.10%, 66.00% 0.12%, 68.00% 0.16%, 70.00% 0.19%, 72.00% 0.23%, 74.00% 0.27%, 76.00% 0.32%, 78.00% 0.36%, 80.00% 0.41%, 82.00% 0.46%, 84.00% 0.52%, 86.00% 0.57%, 88.00% 0.63%, 90.00% 0.69%, 92.00% 0.75%, 94.00% 0.81%, 96.00% 0.87%, 98.00% 0.94%, 100.00% 1.00%);
}


/* SPECIFIC STYLE FOR DARK SILVER */
.card-header {
  color: var(--main-color);
}

.modal-content {
  background-color: var(--backgroundcolor) !important; 
}

.modal-header {
  background-color: var(--backgroundcolor) !important;
  border: 1px solid var(--backgroundcolor);
} 

.modal-body {
  background-color: var(--backgroundcolor) !important;
  border: 1px solid var(--backgroundcolor);
}

.modal-footer {
  background-color: var(--backgroundcolor) !important;
  border: 1px solid var(--backgroundcolor);
}

.btn-cover {
  background-color: var(--backgroundcolor) !important;
}

.btn.btn-primary {
  color : var(--backgroundcolor) !important;
  font-size: 14px;
}

.btn-cover:hover {
  background-color: var(--backgroundcolor) !important;
  color: var(--main-color) !important;
}

.btn.btn-primary {
  background: var(--main-color);
  color: var(--backgroundcolor);
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: var(--main-color);
}
.btn:hover, .btn:active, .btn:focus {
  background: var(--backgroundcolor) !important;
  color: var(--main-color) !important;
  outline: none !important;
  visibility: visible !important;
  border-color: var(--main-color) !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.btn-secondary {
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background:var(--main-color) !important;
  border: 2px solid var(--main-color);
  color: var(--backgroundcolor);
}
.btn-secondary.btn-outline {
  background: transparent;
  color: var(--main-font-color);
  border: 2px solid var(--main-font-color);
}
.btn-secondary.btn-outline:hover, .btn-secondary.btn-outline:focus, .btn-secondary.btn-outline:active {
  background: var(--main-font-color);
  color: var(--backgroundcolor);
}

#modal-gift h1 {
  color: var(--main-color) !important;
}

.form-control {
  color: var(--main-color) !important;
  border: solid 1px var(--main-color) !important;
}

.modal-title {
  color: var(--main-font-color) !important;
}

#footer {
  color:var(--main-font-color);
  background-color: var(--secondary-color) !important;
}

